<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Marvel API (Beta)</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <h1>Welcome To Marvel Universe!</h1>
                </div>
            </div>
        </div>
    </header>

    {{{ body }}}

    <footer>
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <p>"Data provided by Marvel. © 2014 Marvel"</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>